// h1, h2, h3, h4, h5, h6, p, div
  // cursor: none

.device-info-enter {
  opacity: 0;
  transform: scale(0.9);
}

.device-info-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.device-info-exit {
  opacity: 1;
}

.device-info-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.device-info-exit-done {
  opacity: 0;
}
